@model IEnumerable<NonFactorsTesting.Models.Rows2>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>

    <script src="~/Scripts/jquery-3.1.0.js"></script>
    <script src="~/Scripts/MvcGrid/mvc-grid.js"></script>
 
    <link href="~/Content/MvcGrid/mvc-grid.css" rel="stylesheet"/>
    <style>
        td {
            white-space: nowrap;
            text-align: center;
        }

    </style>    
    
    
</head>
<body>
<div>
    
    <a href=@Url.Action("TestGrid")> Grid one test</a>
    <p>
        attempting to replacate behavior of <a href="http://mvc-grid.azurewebsites.net/Column/CustomFilter">CustomFilter</a>
        Currently the popup is not popping up. 
    
    </p>
    @(Html
          .Grid(Model)
          .Build(columns =>
          {
              columns.Add(model => model.Name).Titled("Name").Filterable(true).FilteredAs("Custom");
              columns.Add(model => model.Surname).Titled("Surname").Filterable(true)
                  .MultiFilterable(true).FilteredAs("Custom");
              columns.Add(model => model.Age).Titled("Age");
              columns.Add(model => model.BirthDay).Titled("Birth day");
              columns.Add(model => model.Employed).Titled("Employed");
          })
          )
</div>
    
    
<script src="~/Scripts/MvcGrid/CustomFilter.js"></script>
</body>
</html>